<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 공통 상단구역 -->
</head>
<body>
    <div id="header"> 
        <h1>로고</h1>
        <ul>
            <li>메뉴1</li>
            <li>메뉴2</li>
            <li>메뉴3</li>
        </ul>
        <!-- 로그인이 완료됐을때 header 맨우측 '아이디님' '로그아웃'으로 화면이 변경되어야 한다
             서버에서 넘겨받은 로그인 정보에 따라
             로그인이 되었다면 -> 000님 로그아웃 
             로그인이 안되었다면 -> 로그인 로그아웃 
         
         이조건에 맞는 li만 보여지도록   -->
         <ul>
         <% if(login) { %>
                <li><a href="/mypage"><%- login.memberid %></a></li>
                <li><a href="/logout">로그아웃</a></li>
         <% } else { %>
                <li><a href="/login">로그인</a></li>
                <li><a href="/join">회원가입</a></li>
         <% } %>
        </ul>
    </div>
</body>
</html>